@using Tamagotchi.Models;

<h1>Your pets List</h1>

<ul>
@if (Model.Count == 0)
{
  <p>You have no pets in your list!</p>
}
@if(Model.Count != 0)
{
  @foreach (Pet pet in Model)
  {
    <li><a href='/pets/@pet.GetId()'>@pet.GetName()</a></li>
  }
}
</ul>

<a href="/pets/new">Add a new pet.</a>
<br>
<form action="/pets/delete" method="post">
  <button type="submit" name="button">Clear All pets</button>
</form>
