<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Tamagotchi</title>
  </head>
  <body>
    <h1>Add a new pet to take care of !</h1>
    <form action="/pets" method="post">
      <!-- <label for="name">Enter Name: </label>
      <input id="name" name="name" type="text"> -->

      <select name="name">
          <option value="pikachu">Pikachu</option>
        <option value="unicorn">Unicorn</option>
        <option value="charmander">Charmander</option>

      </select>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>