<h1>Your Pet Details: </h1>

<h2>Name: @Model.GetName()</h2>
<h2>Health: @Model.GetHealth()</h2>
<h2>Age: @Model.GetAge()</h2>
<h2>ID: @Model.GetId()</h2>

<button>Feed Your Pet</button>
<button>Play with Your Pet</button>
<button>Let your Pet Sleep</button>
<button>Pass Time</button>

<a href='/pets/new'>Add another pet</a><br>
<a href='/pets'>View all pets</a>